Checks: >
   clang-diagnostic-*,
   clang-analyzer-*,
   cppcoreguidelines-*,
   modernize-*,
   bugprone-*,
   performance-*,
   -cppcoreguidelines-avoid-magic-numbers,
   -modernize-concat-nested-namespaces,
   -modernize-use-trailing-return-type,
   -performance-avoid-endl,
   -readability-magic-numbers
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
